.story {
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    width: 75%;
    margin: 0 auto;
    padding: 6rem;
    font-size: 1.6rem;
    transform: skewX(-9deg);
    backface-visibility: hidden;
    background-color: rgba(255, 255, 255, 0.7);

    @include respond(tab-port){
        width: 100%;
        padding: 4rem;
        
    }
    @include respond(phone){
        width: 100%;
        padding: 3rem;
        transform: skewX(-4deg);
  
    }

    & >* {
        transform: skewX(9deg);
        
        @include respond(phone){
        transform: skewX(4deg);
      
        }
    }

    &__shape {
        float: left;
        width: 15rem;
        height: 15rem;
        shape-outside: circle(50% at 50% 50%);
        -webkit-shape-outside: circle(50% at 50% 50%);
        clip-path: circle(5% at 50% 50%);
        -webkit-clip-path: circle(45% at 50% 50%);

    }

    &__img {
        width:100%;
        transform: translateY(2rem) scale(1.8);
        transition: all .5s;
        backface-visibility: hidden;
        padding-right: 1rem;

    }
    &__caption {
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%, 20%);
        text-align: center;
        font-size:2.2rem;
        color: #fff;
        font-weight: 400;
        text-transform: uppercase;
        opacity: 0;
        transition: all .5s;
        backface-visibility: hidden;
    }

    &__text {
        font-size: 1.6rem; //default
        padding-left:3rem;
    }

    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%,-50%);
    }

    &:hover &__img {
        transform: translateY(2rem) scale(1.45);
        filter: blur(2px) brightness(80%) grayscale(10%);
    }
}