

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #777;
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden; // this hides animations bckgrnd shaking
    margin-bottom: 6rem; 
  
      &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;

        @include respond(phone){
         letter-spacing: 2rem;
         font-size: 5rem;
        }
      
    }
  
      &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
        animation: moveInRight 1s ease-out;

        @include respond(phone){
          letter-spacing: 0.5rem;
         }
    }
  }

  .heading-secondary {
    font-size: 3.5rem;
    font-weight: 700;
    text-transform: uppercase;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    display:inline-block;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    letter-spacing: 2px;
    transition: all .2s;

    @include respond(tab-port){
      font-size: 3rem;
     }
    @include respond(phone){
      font-size: 2.5rem;
     }
      
      &:hover {
        transform: skewY(2deg) skewY(3deg) scale(1.02);
        text-shadow: .2rem 0.5rem 1.5rem rgba(0, 0, 0, 0.2); 
     }
  }

  .heading-teritiary {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .paragraph {
    font-size: 1.6rem;
      &:not(:last-child) {
        margin-bottom:1.5rem;
      }
  }

.card__heading {
  position: relative;
}















